<?xml version="1.0"?>

<model>
  <name>turtlebot3_burger_rgbd</name>
  <version>2.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Peiyan Xie</name>
    <email>StrongerOK@outlook.com</email>
  </author>

  <description>
    TurtleBot3 Burger
  </description>
</model>
